@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
.section-hero{
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /*100% de la HAUTEUR DE L'ECRAN */
    
}

.white{
    color: white;
}

.section-pexels{
    background-image: url(asset/Pexels\ Photo\ by\ Nick\ \ Gorniok.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/* FLEX BOX */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}


/* MARGIN & PADDING */

.mt-8{
    margin-top: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}
.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-128{
    margin-bottom: 128px;
}

.mt-128{
    margin-top: 128px;
}

.pt-16{
    padding-top: 16px;
}

.pb-16{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}
.pt-128{
    padding-top: 128px;    
}
/* Tailles */
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}

/* BOUTON */

.btn-black{
    background-color: black;
    text-decoration: none;
    font-family:"Rubik", sans-serif;
    color: white;
    border-radius: 4px;
    padding: 7px 20px;
}
 
.btn-white{
    background-color: white;
    text-decoration: none;
    font-family:"Rubik", sans-serif;
    color: black;
    border-radius: 4px;
    padding: 7px 20px;
}

/* CONTAINER */

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}




.bg-red{
    background-color: red;
}